<div class="relative overflow-x-auto">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Título</th>
        <th scope="col" class="px-6 py-3">Completado</th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      @for(task of tasks(); track task.id) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ task.id }}
        </th>
        <td class="px-6 py-4">{{ task.title }}</td>
        <td class="px-6 py-4">
          {{ task.completed ? "Completado" : "No completado" }}
        </td>
        <td class="px-6 py-4">
          <a [routerLink]="['/tasks/edit/' + task.id]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
              />
              <path
                d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
              />
              <path d="M16 5l3 3" />
            </svg>
          </a>
        </td>
      </tr>
      } @empty {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td colspan="4" class="px-6 py-4 text-center">No hay tareas</td>
      </tr>
      }
    </tbody>
  </table>
</div>
